# Zenith Configuration Template
# Copy this file to .env.secrets and fill in the values

# Database Config (CockroachDB Serverless)
# Format: postgresql://<user>:<password>@<host>:<port>/<database>?sslmode=verify-full&x-migrations-lock=false&sslrootcert=/root/.postgresql/root.crt
DATABASE_URL=postgresql://user:password@host:26257/defaultdb?sslmode=verify-full&x-migrations-lock=false&sslrootcert=/root/.postgresql/root.crt

# openssl rand -base64 32
API_KEY_SALT=f557ukq8DAD645tFMzHP/jLk2NKGI8Txgt/3KCNmulg=

SLACK_WEBHOOK_URL=https://...

# Generate a Secrets for Kubernetes
# kubectl create secret generic zenith-secrets --from-env-file=.env.secrets --dry-run=client -o yaml > .\deployments\k8s\local\secrets.yaml
