# Zenith Configuration Template
# Copy this file to .env.config and fill in the values

# General App Config
ZENITH_PORT=50051

# DB Connection Pool
DB_MAX_OPEN_CONNS=10
DB_MAX_IDLE_CONNS=10

# Generate a ConfigMap for Kubernetes
# kubectl create configmap zenith-config --from-env-file=.env.config --dry-run=client -o yaml > .\deployments\k8s\local\config.yaml
